#container {
  width: 1200px;
  height: 1000px;
  margin: auto;
  text-align: center;
}

.bulb-off {
  width: 1200px;
  height: 718px;
  background: url("aptA.jpg") no-repeat;
  margin: auto;
}

.bulb-on {
  width: 1200px;
  height: 718px;
  background: url("aptB.jpg") no-repeat;
  margin: auto;
}
